html {
  overflow-y: auto;
}

.loading,
#demo,
.groupe-langages,
.show-documentation,
footer {
  display: none;
}

#documentation {
  grid-row: 2 / 3;
  margin-bottom: 1.2rem;
}

pre {
  padding: .4em 1em;
  margin: 1em 0;
  overflow: auto;
  border-radius: .5em;
}
pre, :not(pre) > code {
  background: rgba(0, 0, 0, .8);
}

p.warning-js {
  display: block;
  margin-top: .6rem;
}