color-swatch {
  display: inline-grid;
  grid-template-columns: 3em auto auto;
  gap: 1ch;
  align-items: center;
  height: 2em;

  --echiquier-transparence: linear-gradient(45deg, rgba(0, 0, 0, .1) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, .1) 75%),
  linear-gradient(45deg, rgba(0, 0, 0, .1) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, .1) 75%),
  linear-gradient(to right, #ddd 0% 100%);
}

color-swatch[clipped]:not([format="name"]):not([format="hex"]) {
  grid-template-columns: 3em auto auto auto;
}

color-swatch > .color-swatch-preview {
  background: linear-gradient(to right, var(--color) 0% 100%),
              var(--echiquier-transparence);
  background-size: 100% 100%, 16px 16px, 16px 16px;
  background-position: 0 0, 0 0, 8px 8px;
  background-repeat: no-repeat, repeat, repeat;
  width: 100%;
  height: 100%;
}

color-swatch > .color-swatch-expression {
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: thin;
  white-space: nowrap;
}

color-swatch[clipped] > .color-swatch-expression.in-gamut {
  color: red;
}

color-swatch > button {
  display: inline-grid;
  place-items: center;
}

color-swatch > button > svg {
  width: 1.5em;
  height: 1.5em;
}

color-swatch:not([clipped]) > .color-swatch-see-alt,
color-swatch[clipped]:is([format="name"], [format="hex"]) > .color-swatch-see-alt,
color-swatch[alt] > .color-swatch-expression.in-gamut,
color-swatch:not([alt]) .color-swatch-expression.out-of-gamut {
  display: none;
}

color-swatch[mini] > .color-swatch-expression,
color-swatch[mini] > button {
  display: none;
}